/* Website */
h1, h2, h3 {

}

body {
    width: 100%;
	height: 100%;
	margin: 0;
	padding-left: 30px;
	overflow-x: hidden;
}

#main {
  margin: 5%;
}

/* LandingPage */
#landing-page-heading {

}

#landing-page-text {

}

/* Navbar */
@media (max-width: 767px) {
	nav {
		width: 100%;
		padding: 20px 30px 20px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#logo {
		margin-bottom: 10px;
	}
}

@media (min-width: 767px) {
	nav {
		width: 100%;
		padding: 20px 30px 20px 0;
		display: flex;
		justify-content: space-between;
	}
}

#logo {
	font-size: 20px;
    background: #059466;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar {
  	list-style-type: none;
  	padding: 0;
}

.navbar-link {
  	float: right;
	margin-left: 20px;
}

/* Forms and Modals */
form {

}

dialog {

}

input {
  border: none;
  border-radius: 5px;
  margin: 1% 0;
  padding: 1%;
  box-shadow: 0 0 5px gray;
  font-size: 0.8em;
  -webkit-appearance: none;
}

input[type=checkbox] {
  border: solid;
  margin: 0.5%;
  appearance: auto;
}

label {

}

button {
  padding: 1%;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background: #059466;
  margin-top: 2%;
  box-shadow: 0 0 2px gray;
}

button:hover {
  color: #5A5A5A;
}

button:active {
  background: #059466;
}

#login {

}

#register {

}


#logout {

}

/* Books */
.book-preview {
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 2%;
    padding: 2%;
}

.book-preview:hover {
    opacity: 0.8;
}

.book-preview-title {

}

.book-preview-author {

}

.book-preview-year {

}

.book-preview-genre {

}

.book-preview-image {

}

/* Book page with details */
.book {

}

.book-title {

}

.book-author {

}

.book-date {

}

.book-genre {

}

.book-image {

}

.book-reviews {

}

/* Reviews */
.review-title {

}

.review-book {

}

.review-date {

}

.review-description {

}

#close-button {

}

#delete-button {

}

/* People */
.person {

}

.person-preview {
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 2%;
    padding: 2%;
}

.person-preview:hover {
    opacity: 0.8;
}

.person-review-count {

}

/* General */
@media (min-width: 767px) {
  #people{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;
  }

  #books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;
  }
}

@media (max-width: 767px) {
  #people, #books {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
}

/* Profile */
.review-writer {

}

textarea {

}

select {

}

.open-review-writer-button {

}

.publish-button {

}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0px 20px 30px;
  text-align: right;
}
