@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');

:root {
    --green: #4acb6d;
}

/* Website */
h1, h2, h3 {
    font-family: 'DM Serif Display', Georgia, Times;
}

body {
	height: 100%;
    padding-left: 3%;
	overflow-x: hidden;
    box-sizing: border-box;
}

body :not(h1, h2, h3) {
    font-family: 'Noto Sans', Helvetica, Arial;
}

#logo {
    display: flex;
    align-items: center;
}

#logo-text {
    margin: 0;
}

h1 img {
    height: 1.5em;
    margin-left: 5px;
    vertical-align: middle;
}

/* Landing Page */
@media (max-width: 767px) {
    #landing-page {
        text-align: center;
    }
}

#landing-page-heading {
    font-size: 200%;
}

#landing-page-text {
    font-size: 150%;
}

/* Navbar */
@media (max-width: 767px) {
    nav {
        width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

    #navbar {
  	    display: flex;
		flex-direction: column-reverse;
		align-items: center;
    }

    .navbar-link {
        margin-bottom: 10px;
        color: black;
        text-decoration: none;
    }
}

@media (min-width: 767px) {
	nav {
		width: 100%;
		padding-right: 30px;
		display: flex;
        align-items: center;
		justify-content: space-between;
	}

    .navbar-link {
        float: right;
        margin-left: 20px;
        color: black;
        text-decoration: none;
    }
}

#logo {
	font-size: 130%;
    color: black;
    text-decoration: none;
}

#navbar {
  	list-style-type: none;
    margin: 0;
  	padding: 0;
}

/* Forms and Modals */
form {

}

dialog {

}

input {
    display: block;
  border: none;
  border-radius: 5px;
  margin: 1% 0;
  padding: 1%;
  box-shadow: 0 0 5px gray;
  font-size: 0.8em;
  -webkit-appearance: none;
}

input[type=checkbox] {
  border: solid;
  margin: 0.5%;
  appearance: auto;
}

label {

}

button {
  padding: 0.75vh;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background: var(--green);
  margin-top: 2%;
  box-shadow: 0 0 2px gray;
}

button:hover {
  color: #5A5A5A;
}

button:active {
  background: var(--green);
}

#login {

}

#register {

}


#logout {

}

/* Books */
.book-preview {
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 2%;
    padding: 2%;
}

.book-preview:hover {
    opacity: 0.8;
}

/* Book page with details */
.book {

}

.book-title {

}

.book-author {

}

.book-date {

}

.book-genre {

}

.book-image {

}

.book-reviews {

}

/* Reviews */
.review-title {

}

.review-book {

}

.review-date {

}

.review-description {

}

#close-button {

}

#delete-button {

}

/* People */
.person {

}

.person-preview {
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 2%;
    padding: 2%;
    text-align: center;
}

.person-preview img {
    margin-top: 1%;
}


.person-preview:hover {
    opacity: 0.8;
}

.person-review-count {

}

/* General */
@media (min-width: 767px) {
  #people{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;
  }

  #books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;
  }
}

@media (max-width: 767px) {
  #people, #books {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
}

/* Profile */
.review-writer {

}

textarea {

}

select {

}

.open-review-writer-button {

}

.publish-button {

}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 30px;
    padding-right: 30px;
  text-align: right;
}
